html 
  head 
    title Home Page
body 
  include ../partials/header

  div#main
  header    
      h1 Select a site to search:
      a(href="/fruits") Search Fruits Site
      br
      br
      a(href="/personal") Search Japan Site
